DATA_DIR=/local-scratch/projects/genotype-phenotype-map/data/
RESULTS_DIR=/local-scratch/projects/genotype-phenotype-map/results/
BACKUP_DIR=/local-scratch/projects/genotype-phenotype-map/backup/
REDIS_HOST=redis
REDIS_PORT=6379